// .container{
//     margin: 5px;
//             position: fixed;
//             width: 200px;
//             height: auto;
//             margin-left: 4%;
//             margin-top: 0%;
//             padding: 10px;}

            // .nav{
            //     display: flex;
            //     justify-content: space-around;
            //     margin-right: 20;
                
            // }

            .nav nav nav-pills{
                margin: 5px;
            position: fixed;
            width: 200px;
            height: auto;
            margin-left: 8%;
            margin-top: 0%;
            padding: 10px;}


            