<!-- <p>home works!</p> -->


<nav class="navbar bg-body-tertiary">
  <div class="nav nav-pills">
    <div class="nav-item">

      <a class="navbar-brand justify-contents-between cursor">
        <img src="assets\MediBuddyImages\1.svg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
        <div> Talk to Doctor </div>
      </a>
    </div>

    <div class="nav-item">
      <a class="navbar-brand" routerLink="/medicine-home">
        <img src="assets/MediBuddyImages/2.svg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
        <div> Medicine </div>
      </a>
    </div>
    <div class="nav-item">
      <a class="navbar-brand">
        <img src="assets/MediBuddyImages/3.svg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
        <div> Book Dr. Appointment </div>
      </a>
    </div>
    <div class="nav-item">
      <a class="navbar-brand">
        <img src="assets/MediBuddyImages/4.svg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
        <div> Lab Test & Packages </div>
      </a>
    </div>
    <div class="nav-item">
      <a class="navbar-brand">
        <img src="assets/MediBuddyImages/5.svg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
        <div>Surgery </div>
      </a>
    </div>
    <div class="nav-item">
      <a class="navbar-brand">
        <img src="assets/MediBuddyImages/6.svg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
        <div> MediBuddy Gold</div>
      </a>
    </div>
    <div class="nav-item justify-contents">
      <a class="navbar-brand">
        <img src="assets/MediBuddyImages/7.svg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
        <div> More </div>
      </a>
    </div>
  </div>
</nav>


<div class="container mt-2 w-75 border py-3 shadow-sm rounded-pill">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-dark heading">Consult with top Doctors Online 24 x 7</a>
    </li>
    <li class="nav-item border rounded-pill px-5">
      <a class="nav-link">Start Consultation</a>
    </li>
  </ul>
</div>


<div class="container mt-2 w-75">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/MediBuddyImages/slide1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/MediBuddyImages/slide2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/MediBuddyImages/slide3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/MediBuddyImages/slide4.png" class="d-block w-100" alt="...">
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="col-md-6 cursor">
  <div class="container w-75 mt-3 p-1">
    <img src="assets/MediBuddyImages/8.svg" alt="" class="img shadow-sm">
  </div>
</div>




  <!-- ***************************************************************************************************** -->
  <div class="row  shadow-sm mt-4">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="container">
        <p>MediBuddy GOLD</p>
      </div>
      <div class="container">
        <p><h1>Give the care your </h1>
        <p><h1>family deserves </h1>
      </div>
      <div class="container">
        <p> Unlimited consultations with top doctors for 6</p>
        <p>famlily members in 22+ specialities and 16</p>
        <p>languages</p>
      </div>
      <div class="container">
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-primary" type="button">Buy MediBuddy GOLD<span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></button>

        </div>
      </div>



    </div>


    <div class="col-md-4">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <!-- .row-cols-1 row-cols-md-2 -->
        <div class="col">
          <div class="card">
            <img src="assets/MediBuddyImages/card1.svg" class="card-img-top" alt="..." height="150" width="150">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/MediBuddyImages/card2.svg" class="card-img-top" alt="..." height="150" width="150">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/MediBuddyImages/card3.svg" class="card-img-top" alt="..." height="150" width="150">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/MediBuddyImages/card4.svg" class="card-img-top" alt="..." height="150" width="150">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>




  </div>
  <!-- ****************************************************************************************************** -->
   <div style="margin-left:18rem;">
     <h2>Insurance</h2>
   </div>
   <div>



   </div>
   <div>
    <div class="row row-cols-1 row-cols-md-6 custom">
      <div class="col customCss">
        <div class="card h-100">
          <img src="assets/MediBuddyImages/E-card.htm" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col shadow-sm">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a short card.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
   </div>
<!-- ******************************************************************************************************* -->
<div class="col-md-6 cursor">
  <div class="container w-75 mt-3 p-1">
    <img src="assets/MediBuddyImages/learn more.svg" alt="" class="img shadow-sm">
  </div>
</div>

